<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Landing Page</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="foros.component.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap">
</head>
<body>
<!-- encabezado     -->
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="#"><img class="logo-image" src="assets\img\logoencabezado.png" alt="Logo de la Empresa" ></a>

    <ul class="navbar-nav mx-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">INICIO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/foro" routerLinkActive="active">FOROS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/planificacion" routerLinkActive="active" >PLANES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/perfil" routerLinkActive="active" >USUARIO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/galeria" routerLinkActive="active" >GALERIA</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container mt-4">
  <!-- Barra de búsqueda -->
  <div class="row mb-4">
    <div class="col">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Buscar temas" aria-label="Buscar temas">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button">Buscar</button>
        </div>
      </div>
    </div>
    <div class="col-auto">
      <button class="btn btn-primary" [routerLink]="['/crearforo']">Crear +</button>
    </div>
  </div>

  <!-- Publicaciones -->
  <div class="row" *ngFor="let publication of publications">
    <div class="col-12">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">{{ publication.title }}</h5>
          <p class="card-text">{{ publication.content }}</p>
          <div class="d-flex justify-content-between">
            <small class="text-muted">Posteado por dora</small>
            <small class="text-muted">0 Respuestas - 0 Visitas - 23/11/2023</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <!-- Post 1 -->
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Machu Picchu: Secretos y recomendaciones para una visita inolvidable</h5>
          <p class="card-text">Les comparto mi itinerario de viaje a la costa norte del Perú y busco sugerencias de lugares para visitar y actividades para hacer.</p>
          <div class="d-flex justify-content-between">
            <small class="text-muted">Posteado por Batmansindinero33</small>
            <small class="text-muted">10 Respuestas - 110 Visitas - 12/09/2023</small>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <!-- Post 2 -->
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Rutas menos conocidas en Perú: Lugares fuera de los circuitos turísticos</h5>
          <p class="card-text">Les recomiendo visitar Huancaya, es un lugar hermoso y economico. Aqui, les comparto mis fotos:</p>
          <div class="d-flex justify-content-between">
            <small class="text-muted">Posteado por Viajanteindie1</small>
            <small class="text-muted">77 Respuestas - 451 Visitas - 11/09/2023</small>
          </div>
        </div>
      </div>


    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <!-- Post 3 -->
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Culinaria peruana: ¿Dónde encontrar los mejores platos locales?</h5>
          <p class="card-text">Busco recomendaciones sobre los lugares ideales para probar los mejores platos locales en diferentes regiones del país.</p>
          <div class="d-flex justify-content-between">
            <small class="text-muted">Posteado por Gaston1919</small>
            <small class="text-muted">34 Respuestas - 213 Visitas - 10/09/2023</small>
          </div>
        </div>
      </div>


    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <!-- Post 4 -->
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Perú con niños: Destinos familiares y actividades divertidas</h5>
          <p class="card-text">Estoy en la costa norte del Perú y busco sugerencias de lugares para visitar y actividades para hacer.</p>
          <div class="d-flex justify-content-between">
            <small class="text-muted">Posteado por Elhomero20</small>
            <small class="text-muted">67 Respuestas - 459 Visitas - 9/09/2023</small>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="textext2">text</div>
        <div class="information">
          <a class="navbar-brand" href="#"><img class="logo-image" src="assets\img\logoencabezado.png" alt="Logo de la Empresa" ></a>
        </div>
      </div>
      <div class="col-md-4">

        <div class="contact">
          <div class="textext2">text</div>
          <p>Teléfono: 956 034182</p>
          <p>Correo electrónico: GogoTrips@gmail.com</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="social">
          <div class="textext2">text</div>
          <h4>Redes Sociales</h4>
          <div class="social-icons">
            <a href="#" title="Enlace a Facebook"><img src="assets\img\facebook.png" alt="Facebook"></a>
            <a href="#" title="Enlace a Twitter"><img src="assets\img\twitter.png" alt="Twitter"></a>
            <a href="#" title="Enlace a Instagram"><img src="assets\img\instagram.png" alt="Instagram"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
